{% autoescape off %}
Hola {{ user.username }},

Este correo electrónico te llega porque has solicitado recuperar la contraseña de tu cuenta.

Para restablecer tu contraseña, simplemente haz clic en el enlace que se encuentra a continuación:

({{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si no has solicitado este proceso de recuperación de contraseña, puedes ignorar este mensaje sin preocupaciones.

Agradecemos tu confianza en JFerros.

Sinceramente, El equipo de JFerros
{% endautoescape %}