{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% if request.user.groups.first.name == "Administrador" %}

{% block contenido %}
<ol class="breadcrumb px-3 float-sm-right d-flex justify-content-end">
  <li class="breadcrumb-item fw-bolder letras-texto"><a href="{% url 'index' %}" style="text-decoration: none; color: #68411d;">Inicio</a></li>
  <li class="breadcrumb-item active fw-bolder letras-texto" style="color: #7e6c5c;"><a href="{% url 'usuario' %}" style="text-decoration: none; color: #68411d;">Usuario</a></li>
  <li class="breadcrumb-item active fw-bolder letras-texto" style="color: #7e6c5c;">Crear</li>
</ol>
<div class="container-fluid" style="border: 6px solid white;" >
  <div class="row d-flex justify-content-center" style="min-width: 250px;">
    <div class="fs-1 fw-bold m-5 text-center">
      <h3 class="" style="color: #68411d;">{{titulo}}</h3>
    </div>
    <div class="rounded card p-3 col-11 col-sm-8 col-md-6 col-xl-5 col-xxl-4" style="background-color: #fcf9f5;">
      <form  action="" method="POST" enctype="multipart/form-data" style="color: #68411d; background-color: #fcf9f5;">
        {% csrf_token %}
        {{form|crispy}}
        <button class="animatedcom-button" style="text-decoration: none;" type="submit">Agregar {{titulo}}</button>
      </form>
    </div>
  </div>
</div>

<style>
    .animatedcom-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #68411d;
        cursor: pointer;
        color: #fff;
        font-weight: 600;
        border-radius: 10px 10px;
        border: 2px solid #68411d;
        position: relative;
        overflow: hidden;
        z-index: 1;
    
      }
    
      .animatedcom-button:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fcf9f5;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 0.6s ease;
        z-index: -1;
      }
      .animatedcom-button:hover{
        color: #68411d;
        transform-origin: left right;
        transition-duration: 0.5s;
      }
      .animatedcom-button:hover:before {
        transform: scaleX(1);
        transition-duration: 0.5s;
        transform-origin: right left;
    
      }
</style>
{% endblock contenido %}
{% endif %}
