{% extends 'partials/body.html' %} {% load static %}  {% block contenido %}

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bolder" style="color: #68411d;">Fontaneria</h1>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Llave De Tubería Multifuncional Herramienta De Fontanería 8.png" class="h-auto" style="max-height: 300px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Tubo Doblador Herramientas De Fontanería Aire C.png" class="h-auto" style="max-height: 300px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>       
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Herramientas De Fontanería, Llave De Drenaje, Cierre De Agua.png" class="h-auto" style="max-height: 250px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Desatascador De Tuberías, Herramientas De Fontanería, Limpia.png" class="h-auto" style="max-height: 250px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Herramienta De Alcantarillado Para Fontanería, Flexible, Aho.png" class="h-auto" style="max-height: 300px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Plana Auto Herramientas Manuales Fontanería.png" class="h-auto" style="max-height: 250px; max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock contenido %}