{% extends 'partials/body.html' %} {% load static %}  {% block contenido %}

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bolder" style="color: #68411d;">Pinturas y complementos</h1>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 justify-content-center row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Rodillo Para Pintar Casa Jardin + Complementos Facil Y Pract.png" class="h-auto" style="max-height: 300px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Gravity Feed - Soporte Para Pistola De Pintura, Soporte.png" class="h-auto" style="max-height: 300px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Pulverizador Wagner Tec Alemana W550 Control Spray).png" class="h-auto" style="max-height: 300px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Impermeabilizante Ladrilo Galón Cristalmuro 8 Años 3 Colors.png" class="h-auto" style="max-height: 300px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Pistola Para Pintar Profesional 0.6lts Toolcraft Tc1840.png" class="h-auto" style="max-height: 300px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Galón Vinilo Tipo 2 Pintuland - gal a $93000.png" class="h-auto" style="max-height: 300px; max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock contenido %}