{% extends 'partials/body.html' %} {% load static %}  {% block contenido %}

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bolder" style="color: #68411d;">Electricidad</h1>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 justify-content-center row-cols-sm-2 row-cols-md-3 g-3">      
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Taladro atornillador inalámbrico de 9.5mm Pretul TALI-12P 12V + accesorios con caja de cartón 127V 60Hz.png" class="h-auto" style="max-height: 300px; max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3">
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Lijadora de banda, de disco y de banco Truper PUL-4X6T negra y naranja 60Hz 375W 120V.png" class="h-auto" style="max-height: 300px; max-width: 300px; max-width: 100%;" alt="...">
              </div>
              <div class="p-3">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/idrolavadora eléctrica Takima TKPW1200-13 roja de 1200W con 1300psi de presión máxima 127V - 60Hz.png" class="h-auto" style="max-height: 300px; max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black">$150.900</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Taladro percutor atornillador inalámbrico de 9.5mm Black+Decker MTX20K6A 20V + 1 batería de 1.5Ah + accesorios con maletín de transporte.png" class="h-auto" style="max-height: 300px; max-width: 300px; max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black" >$150.900</h2>
              </div> 
            </div>
          </div>
        </div>          
        <div class="col-md-9 col-xxl-4 col-xl-5">
          <div class="h-100 w-100 card p-3" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Taladro percutor atornillador inalámbrico de 10mm Black+Decker BCD704C1 20V.png" class="h-auto" style="max-height: 300px;max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black" >$150.900</h2>
              </div>
            </div>
          </div>
        </div>          
        <div class="col-md-9 col-xxl-4 col-xl-5" >
          <div class="h-100 w-100 card p-3" style="max-height: 500px;" >
            <div class="d-flex align-items-center flex-column h-100 text-decoration-none text-light">
              <div class="w-100 h-100 mb-auto d-flex justify-content-center align-items-center">
                <img src="/static/img/Pistola De Calor 90° C - 600° C 1800w Stanley Stxh2000-b3.png" class="h-auto"  style="max-height: 300px; max-width: 100%;" alt="...">
              </div>
              <div class="p-3 ">
                <h2 class="d-flex justify-content-center align-items-center fw-bold index-cont-titulo text-black" >$150.900</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock contenido %}