
    <div class="modal fade" id="modalConf" tabindex="-1" aria-labelledby="modalConfLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header" style="background: #fff0d9;">
              <h1 class="modal-title fs-5" id="modalConfLabel" style="color: #68411d;">Eliminar {{titulo}} </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background: #ffeed9;">
              <p style="color: #68411d;">¿Esta usted seguro de eliminar {{titulo|lower}}? </p>
            </div>
            <div class="modal-footer" style="background: #d4c6b5;">
              <button type="button"class="animated-button" data-bs-dismiss="modal">Cancelar</button>
              <a  id="btnConfElim" href="" class=" animated-button text-decoration-none">Estoy Seguro!</a>
            </div>
          </div>
        </div>
      </div>
